li{
display:inline;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html, body{
	background-color: #fff;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizelegibility;
	overflow-x: hidden;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

li{
display:inline;
    text-decoration: none;
}


section{
	padding: 80px 0;
}


header{
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/man-staring-over-clouds.jpeg);
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/man-staring-over-clouds.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
    


h1, h2{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
    

}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    color: #fff;
}

h2{
    font-size: 150%;
    word-spacing: 2px;
    margin-bottom: 30px;
}

section{
	padding: 80px 0;
}



.main-nav{
    margin-top: 55px;
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #f0f8ff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
